* { all: unset; }

:root, body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1.175em;
  background-color: black;
  color: white;
}

*::-webkit-scrollbar {
  width: 0;
  display: none;
  background: transparent;
}
script, head { display: none; }

code {
  background-color: #555;
  padding: 0 0.2em;
  border-radius: 0.25em;
}
em { font-style: italic }
strong { font-weight: bold }

#B {
  right: 0;
  bottom: 0;
  width: 2.5ch;
  height: 2.5ch;
  display: block;
  position: fixed;
  overflow: hidden;
  margin-right: 1em;
  font-size: 1.65em;
  border-radius: 50%;
  margin-bottom: calc(5vh + 2.4em);
  box-sizing: border-box;
  background-color: #333;
  border: 0.1em solid #777;
  padding: 0 0.375em;
  cursor: pointer;
  user-select: none;
}

#p {
  width: 100vw;
  height: 100vh;
  &> #b {
    width:100vw;
    padding-bottom: 5em;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    scroll-behavior: smooth;
    text-align: text-bottom;
    flex-direction: column;
    &>.M {
      background-color: #333;
      border: 0.1em solid #777;
      border-radius: 1em;
      width: 95vw;
      box-sizing: border-box;
      margin: calc(100vh - 5em) calc(5vw / 2) 2em;
      padding: 1em;
      display: block;
      position: fixed;
      bottom: 0;
      height: 3em;
    }
    &> .c {
      margin-top: auto; 
      &> .m {
        display: block;
        margin: 1em;
        &> .T { 
          background-color: #999;
          color: #000;
          margin-right: 1em;
          padding: 0.2em;
          border-radius: 0.3em;
        }
      }
    }
  }
}

.conf_popup_cont {
  background-color: #555;
  display: block;
  position: fixed;
  inset: 0px;
  margin: auto;
  text-align: center;
  height: fit-content;
  width: fit-content;
  padding: 4em;
  border-radius: 0.25em;
  p, input, button {
    margin: 0.5em auto;
    display: block;
    border-radius: 0.25em;
  }
  input[type="text"], button {
    background-color: black;
    color: white;
    padding: 0.15em;
  }
  button {
    overflow: hidden;
    font-size: 1.65em;
    border-radius: 0.5em;
    padding: 0 0.375em;
    cursor: pointer;
    user-select: none;
  }
}
