* { all: unset; }

:root, body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1.175em;
}

script, head { display: none; }

#page_container {
  width: 100vw;
  height: 100vh;
  &> #board {
    width:100vw;
    height: calc(100vh - 5em);
    display: flex;
    text-align: text-bottom;
    flex-direction: column;
    &>input.msg_box {
      background-color: #333;
      border: 0.1em solid #777;
      border-radius: 1em;
      width: 95vw;
      box-sizing: border-box;
      margin: calc(100vh - 5em) calc(5vw / 2) 2em;
      padding: 1em;
      display: block;
      position: absolute;
      bottom: 0;
      height: 3em;
    }
    &> div.container {
      margin-top: auto; 
      &> div.msg {
        display: block;
        margin: 1em;
        &> p.timestamp { 
          background-color: #999;
          color: #000;
          margin-right: 1em;
          padding: 0.2em;
          border-radius: 0.3em;
        }
      }
    }
  }
}

